/*
*= require bootstrap
*= require_self
*/

html, body, .container-table {
    height: 100%;
    width: 100%;
}
.container-table {
    display: table;
}

input {
    width: 25%;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.question {
    color: #5e5e5e;
}

.status_code {
    color: #c7254e;
}

.description {
    color: #222222;
    word-wrap: break-word;
}